<div class="container">
  <div class="input-group input-group-sm mb-3 ms-auto search">
    <input
      class="form-control"
      placeholder="dd/mm/yyyy"
      name="date"
      [(ngModel)]="date"
      ngbDatepicker
      #d="ngbDatepicker"
    />
    <button
      class="btn btn-outline-secondary bi bi-calendar3"
      (click)="d.toggle()"
      type="button"
    ></button>
  </div>

  <pre>Model: {{ date | json }}</pre>

  <table
    class="table table-sm table-striped table-bordered"
    aria-describedby="mydesc"
  >
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Tel</th>
        <th scope="col">Trigramme</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let dwh of dwhs">
        <td class="text-center">{{ dwh.id }}</td>
        <td>{{ dwh }}</td>
        <td>{{ dwh }}</td>
      </tr>
    </tbody>
  </table>
</div>
