<div class="container">
  <div class="d-flex">
    <div class="ms-auto">
      <button class="btn btn-outline-secondary btn-sm" (click)="getKpiDwh()">
        <i class="bi bi-arrow-repeat"></i>
      </button>
    </div>

    <div class="input-group input-group-sm mb-3 ms-2 search">
      <input class="form-control" placeholder="dd/mm/yyyy" name="date" [(ngModel)]="date" (ngModelChange)="getKpi()"
        ngbDatepicker #d="ngbDatepicker" readonly />
      <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
    </div>

    <div class="ms-2">
      <button class="btn btn-orange btn-sm" (click)="sendSms()">Envoyer</button>
    </div>
  </div>

  <table
    class="table table-sm table-striped table-bordered"
    aria-describedby="mydesc"
    *ngIf="kpis.length; else elseKpi"
  >
    <thead>
      <tr>
        <th scope="col">MM/YYYY</th>
        <th scope="col">Jour</th>
        <th scope="col">Zone</th>
        <th scope="col">Taux CB(%)</th>
        <th scope="col">Charged base</th>
        <th scope="col">Parc</th>
        <th scope="col">Charged base</th>
        <th scope="col">Taux charged base</th>
        <th scope="col">Activation</th>
        <th scope="col">Cumul Act</th>
        <th scope="col">Montant Rec</th>
        <th scope="col">Cumul Montant Rec</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let kpi of kpis">
        <td class="text-center">{{ kpi.mois_annee }}</td>
        <td class="text-center">{{ kpi.jour }}</td>
        <td>{{ kpi.zone }}</td>
        <td class="text-end">{{ floatNumberWithSpaces(kpi.cb_30j/kpi.parc) }}</td>
        <td class="text-end">{{ floatNumberWithSpaces(kpi.cb_30j) }}</td>
        <td class="text-end">{{ floatNumberWithSpaces(kpi.parc) }}</td>
        <td class="text-end">{{ floatNumberWithSpaces(kpi.cb_30j) }}</td>
        <td class="text-end">
          {{ (kpi.cb_30j / kpi.parc).toFixed(2) }}
        </td>
        <td class="text-end">{{ floatNumberWithSpaces(kpi.activation) }}</td>
        <td class="text-end">
          {{ floatNumberWithSpaces(kpi.cumul_activation) }}
        </td>
        <td class="text-end">
          {{ floatNumberWithSpaces(kpi.mtt_rec.toFixed(2)) }}
        </td>
        <td class="text-end">
          {{ floatNumberWithSpaces(kpi.cumul_mtt_rec.toFixed(2)) }}
        </td>
      </tr>
      <tr>
        <td class="text-center" colspan="3">Somme</td>
        <!-- <td></td>
        <td></td> -->
        <td></td>
        <td class="text-end">{{ floatNumberWithSpaces(getTotatCb30Jours())}}</td>
        <td class="text-end">{{floatNumberWithSpaces(getTotalParc())}}</td>
        <td class="text-end">{{floatNumberWithSpaces(getTotalActivation())}}</td>
        <td class="text-end">{{floatNumberWithSpaces(getTotatCumulActivation())}}</td>
        <td class="text-end">{{floatNumberWithSpaces(getTotatMttRec().toFixed(2))}}</td>
        <td class="text-end">{{floatNumberWithSpaces(getTotatCumulMttRec().toFixed(2))}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #elseKpi
    ><div class="card text-center no-result pt-2" *ngIf="!kpis.length">
      Aucuns résultats
    </div></ng-template
  >
</div>
