.search {
  max-width: 200px !important;
}

th {
  text-align: center;
}

// #container{
//   text-align: center;
// }
// #container p{
//   color:white;
//   font-size: larger;
// }

.no-result {
  background-color: #fdf8ca;
  height: 40px !important;

}
