<body>
    <div class="main-container">
        <form [formGroup]='putPassword' (ngSubmit)='onSubmit()'>
            <input type="password" placeholder="Mot de passe actuel" class="form-control" formControlName="password">
            <input type="password" placeholder="Nouveau mot de passe" class="form-control"
                formControlName="newPassword">
            <input type="password" placeholder="Confirmation du nouveau mot de passe" class="form-control"
                formControlName="confirmation">
            <button class="btn btn-orange" type="submit"
                [disabled]='!verifyPassword() || !this.putPassword.valid '>Valider</button>
            <div *ngIf="successMessage" class="alert alert-success" role="alert">
                Mot de passe modifié avec succès!
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                Une erreur s'est produite. Veuillez réessayer.
            </div>
        </form>
    </div>
</body>