<body>
    <div class="main-container">
        <form [formGroup]='putPassword' (ngSubmit)='onSubmit()'>
            <input type="password" placeholder="Mot de passe actuel" class="form-control" formControlName="password">
            <input type="password" placeholder="Nouveau mot de passe" class="form-control"
                formControlName="newPassword">
            <input type="password" placeholder="Confirmation du nouveau mot de passe" class="form-control"
                formControlName="confirmation">
            <button class="btn btn-orange" type="submit"
                [disabled]='!verifyPassword() || !this.putPassword.valid '>Valider</button>
            <p *ngIf="this.PasswordError==true" id="error">Mot de passe incorrect</p>
            <p *ngIf="this.SuccesfulPassword==true" id="success">Mot de passe modifié avec succès</p>
        </form>
    </div>
</body>