body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.main-container{
    width:30%;
    border:1px solid #cccccc;
    height: max-content;
    display: block;
    padding: 3%;
}
input{
    padding:2%;   
}
input,button{
    width: 100%;
    margin: 10px 0;
}
#error{
    font-weight: bold;
    font-size: small;
    color:#cd3c14
}
#success{
    font-weight: bold;
    font-size: small;
    color:#228722;
}