* {
  font-size: 14px;
}

th {
  text-align: center;
}

.zone-edit {
  min-width: 150px !important;
}

// .search-select {
//   height: 31px !important;
//   border-radius: 0.25rem !important;

//   &.is-invalid {
//     border: solid 1px #dc3545;
//   }
// }
